# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Agent specific
.agent/cache/
*.log
